<br>
<div class="ted-jumbotron">
  <h1>teddit</h1>
  <p>teddit is a resource for sharing links with your friends!</p>
  <p>
    <%= link_to "Sign In", new_session_path %> or
    <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="ted-col">
      <h2>Express Yourself</h2>
      <%= image_tag "Checklist.svg" %>
      <p>As a user of teddit there is no limit to how many topics and posts you can write. You can add a post to any topic, comment on any post and even create your own topics to share with teddit's userbase.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="ted-col">
      <h2>Cast Your Vote</h2>
      <%= image_tag "Medal.svg" %>
      <p>teddit can quickly get overrun with a variety of posts but never fear: the most popular posts will rise to the top and ride the rocket of their popularity. Those destined for the down vote will be buried low in the depths of teddit's database.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="ted-col">
      <h2>Mark Your Favorites</h2>
      <%= image_tag "Love-Letter.svg" %>
      <p>At teddit you can find the posts you love and make sure you never lose track of them. No matter how many posts you love, they'll all be saved in your user profile for easy perusing.</p>
    </div>
  </div>
</div>
