<!DOCTYPE html>
<html>
<head>
  <title>teddit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="custom.css" rel="stylesheet">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-default" role="navigation">
  <div class="navbar-inner">
    <div class="container">
        <ul class="nav nav-tabs">
          <li><%= link_to "teddit", root_path %></li>
          <li><%= link_to "topics", topics_path %></li>
          <li><%= link_to "contact", contact_path %></li>

          <div class="pull-right user-info">
            <% if current_user.present? %>
            <div class="pull-left ted-link">
              <%= link_to current_user.name, user_path(current_user) %> <br/>
            </div>
            <div class="pull-right ted-link">
              <%= link_to "Sign Out", session_path(current_user), method: :delete %>
            </div>
              <%= image_tag current_user.avatar_url(48), class: "gravatar" %>
            <% else %>
              <%= link_to "Sign In", new_session_path %> or
              <%= link_to "Sign Up", new_user_path %>
            <% end %>
          </div>
        </ul>
        </header>

      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

    <div class="container">
      <%= yield %>
    </div>
  </div>

</body>
</html>
